.picture 
{
	width: 128px; 
	height:128px;
	display:inline;
	float:left;
	clear:left;
}
.pictureBox
{
	width:128px;
	margin:8px;
	margin-left:0px;
	float:left;
	clear:right;
}
.column 
{
	width:31%;
	height:99%;
	padding:8px;
	margin-top:8px;
	display:block;
	float:left;
	font-size:11px;
	border-width:0px;
}
.button
{
	border-style: none;
	background-color:#dddddd;
	color:#333333;
}
.references
{
	width:100%;
	font-size:70%;
	text-align:right;
	display:block;
	float:none;
}
img
{
	border:none;
}
ul
{
	list-style-type:none;
}
.column li
{
	font-size:90%;
	margin-top:8px;
}
a
{
	color:#eeeeff;
	text-decoration:none;
}
a:hover
{
	font-style:italic;
}
body
{
	height:95%;
	background-color:rgb(64,48,48);
	color:#ffffff;
	font-family:verdana, helvetica, sans-serif;
}
